<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
<p th:text="'name: ' + ${dvd.name}" />
<p th:text="'year: ' + ${dvd.year}" />
<p th:text="'price: ' + ${dvd.price}" />
<a href="/dvd">Submit another message</a>
</body>
</html>